In [1]:
import nltk
nltk.download('omw-1.4')

[nltk_data] Error loading omw-1.4: <urlopen error [Errno 8] nodename
[nltk_data]     nor servname provided, or not known>

False

In [2]:
import pandas as pd
import re
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [3]:
item7 = pd.read_csv('form-10k-item7.csv')

In [4]:
item7_copied = item7.copy()
item7_copied

,file_id,CIK,ACC_NUM,item_7
0,0,1750,0000912057-02-033450,ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS ...
1,1,1750,0001047469-03-028005,ITEM 7. &#160; MANAGEMENT&#146;S DISCUSSION A...
2,2,1750,0001047469-04-023905,ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS ...
3,3,1750,0001104659-05-033688,ITEM 7. &#160; MANAGEMENT&#146;S DISCUSSION A...
4,4,1750,0001104659-06-047248,ITEM 7. MANAGEMENT&#146;S DISCUSSION AND ANAL...
...,...,...,...,...
72807,72807,1596993,0001596993-16-000015,ITEM 7. &#8195; MANAGEMENT&#8217;S DISCUSSION...
72808,72808,1596993,0001596993-17-000010,ITEM 7. &#8195;MANAGEMENT&#8217;S DISCUSSION ...
72809,72809,1596993,0001596993-18-000015,ITEM 7. &#8195;MANAGEMENT&#8217;S DISCUSSION ...
72810,72810,1720635,0001720635-19-000008,ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS ...
72811,72811,1739445,0001739445-19-000020,Item 7. &#32; Management&#8217;s Discussion a...

In [5]:
item7_copied.dtypes

file_id     int64
CIK         int64
ACC_NUM    object
item_7     object
dtype: object

In [6]:
item7_copied['preprocessed_item_7'] = None

In [7]:
stopwords_english = stopwords.words('english')

def preprocess_item7(text):
    words = []
    wnl = WordNetLemmatizer()
    lemmatised_words = []

    # remove punctuation and digits by regular expression
    text_without_punctuation = re.sub(r'[^\w\s]', '', text)
    text_without_punctuation_digits = re.sub(r'\d', '', text_without_punctuation)
    # tokenisation
    tokens = word_tokenize(text_without_punctuation_digits)
    # drop title
    tokens = tokens[15:]
    # remove stop words
    # lowercasing
    for token in tokens:
        token = token.lower()
        if token not in stopwords_english:
            words.append(token)
    # lemmatisation
    for word in words:
        lemmatised_words.append(wnl.lemmatize(word, pos='v'))

    return lemmatised_words

In [8]:
# split into two parts
item7_copied_part1 = item7_copied.head(35000)
item7_copied_part2 = item7_copied.tail(37812)

In [9]:
item7_copied_part1

,file_id,CIK,ACC_NUM,item_7,preprocessed_item_7
0,0,1750,0000912057-02-033450,ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS ...,None
1,1,1750,0001047469-03-028005,ITEM 7. &#160; MANAGEMENT&#146;S DISCUSSION A...,None
2,2,1750,0001047469-04-023905,ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS ...,None
3,3,1750,0001104659-05-033688,ITEM 7. &#160; MANAGEMENT&#146;S DISCUSSION A...,None
4,4,1750,0001104659-06-047248,ITEM 7. MANAGEMENT&#146;S DISCUSSION AND ANAL...,None
...,...,...,...,...,...
34995,34995,846913,0000846913-16-000116,ITEM 7 - MANAGEMENT&#8217;S DISCUSSION AND AN...,None
34996,34996,846913,0000846913-17-000025,ITEM 7 - MANAGEMENT&#8217;S DISCUSSION AND AN...,None
34997,34997,846913,0000846913-18-000031,ITEM 7 - MANAGEMENT&#8217;S DISCUSSION AND AN...,None
34998,34998,846913,0000846913-19-000020,ITEM 7 - MANAGEMENT&#8217;S DISCUSSION AND AN...,None
34999,34999,909276,0000898430-03-002247,Item 7. \n\n&#160; Management&#146;s Discussi...,None

In [10]:
item7_copied_part2

,file_id,CIK,ACC_NUM,item_7,preprocessed_item_7
35000,35000,909276,0001193125-04-042578,Item 7. Management&#146;s Discussion and Anal...,None
35001,35001,909276,0001193125-05-051273,Item 7. Management&#146;s Discussion and Anal...,None
35002,35002,814463,0000814463-03-000002,NaN,None
35003,35003,814463,0000814463-04-000007,Item 7. \n\nManagement&#146;s Discussion and ...,None
35004,35004,86759,0000086759-09-000026,Item 7. Management's Discussion and Analysis o...,None
...,...,...,...,...,...
72807,72807,1596993,0001596993-16-000015,ITEM 7. &#8195; MANAGEMENT&#8217;S DISCUSSION...,None
72808,72808,1596993,0001596993-17-000010,ITEM 7. &#8195;MANAGEMENT&#8217;S DISCUSSION ...,None
72809,72809,1596993,0001596993-18-000015,ITEM 7. &#8195;MANAGEMENT&#8217;S DISCUSSION ...,None
72810,72810,1720635,0001720635-19-000008,ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS ...,None
72811,72811,1739445,0001739445-19-000020,Item 7. &#32; Management&#8217;s Discussion a...,None

In [11]:
for index, row in item7_copied_part1.iterrows():
    item7_string = str(row['item_7'])
    item7_copied_part1.at[index, 'preprocessed_item_7'] = preprocess_item7(item7_string)

In [12]:
item7_copied_part1

,file_id,CIK,ACC_NUM,item_7,preprocessed_item_7
0,0,1750,0000912057-02-033450,ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS ...,[]
1,1,1750,0001047469-03-028005,ITEM 7. &#160; MANAGEMENT&#146;S DISCUSSION A...,"[factor, may, affect, future, result, company,..."
2,2,1750,0001047469-04-023905,ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS ...,[]
3,3,1750,0001104659-05-033688,ITEM 7. &#160; MANAGEMENT&#146;S DISCUSSION A...,"[general, overview, report, activities, four, ..."
4,4,1750,0001104659-06-047248,ITEM 7. MANAGEMENT&#146;S DISCUSSION AND ANAL...,"[forwardlooking, statements, managements, disc..."
...,...,...,...,...,...
34995,34995,846913,0000846913-16-000116,ITEM 7 - MANAGEMENT&#8217;S DISCUSSION AND AN...,"[dollars, background, three, broad, technology..."
34996,34996,846913,0000846913-17-000025,ITEM 7 - MANAGEMENT&#8217;S DISCUSSION AND AN...,"[dollars, background, three, broad, technology..."
34997,34997,846913,0000846913-18-000031,ITEM 7 - MANAGEMENT&#8217;S DISCUSSION AND AN...,"[dollars, background, two, broad, technology, ..."
34998,34998,846913,0000846913-19-000020,ITEM 7 - MANAGEMENT&#8217;S DISCUSSION AND AN...,"[dollars, background, two, broad, technology, ..."
34999,34999,909276,0000898430-03-002247,Item 7. \n\n&#160; Management&#146;s Discussi...,"[march, actionpoint, inc, enter, merger, agree..."

In [13]:
for index, row in item7_copied_part2.iterrows():
    item7_string = str(row['item_7'])
    item7_copied_part2.at[index, 'preprocessed_item_7'] = preprocess_item7(item7_string)

In [14]:
item7_copied_part2

,file_id,CIK,ACC_NUM,item_7,preprocessed_item_7
35000,35000,909276,0001193125-04-042578,Item 7. Management&#146;s Discussion and Anal...,"[develop, market, deploy, service, input, mana..."
35001,35001,909276,0001193125-05-051273,Item 7. Management&#146;s Discussion and Anal...,"[lead, provider, input, management, solutions,..."
35002,35002,814463,0000814463-03-000002,NaN,[]
35003,35003,814463,0000814463-04-000007,Item 7. \n\nManagement&#146;s Discussion and ...,"[financial, statements, include, annual, repor..."
35004,35004,86759,0000086759-09-000026,Item 7. Management's Discussion and Analysis o...,"[company, principal, source, revenue, continue..."
...,...,...,...,...,...
72807,72807,1596993,0001596993-16-000015,ITEM 7. &#8195; MANAGEMENT&#8217;S DISCUSSION...,"[follow, discussion, financial, condition, res..."
72808,72808,1596993,0001596993-17-000010,ITEM 7. &#8195;MANAGEMENT&#8217;S DISCUSSION ...,"[follow, discussion, financial, condition, res..."
72809,72809,1596993,0001596993-18-000015,ITEM 7. &#8195;MANAGEMENT&#8217;S DISCUSSION ...,"[follow, discussion, financial, condition, res..."
72810,72810,1720635,0001720635-19-000008,ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS ...,"[analysis, financial, condition, result, opera..."
72811,72811,1739445,0001739445-19-000020,Item 7. &#32; Management&#8217;s Discussion a...,"[analysis, financial, condition, result, opera..."

In [15]:
# combine part 1 and part 2
item7_preprocessed = pd.concat([item7_copied_part1, item7_copied_part2])

In [16]:
item7_preprocessed.drop('item_7', axis=1, inplace=True)

In [17]:
item7_preprocessed

,file_id,CIK,ACC_NUM,preprocessed_item_7
0,0,1750,0000912057-02-033450,[]
1,1,1750,0001047469-03-028005,"[factor, may, affect, future, result, company,..."
2,2,1750,0001047469-04-023905,[]
3,3,1750,0001104659-05-033688,"[general, overview, report, activities, four, ..."
4,4,1750,0001104659-06-047248,"[forwardlooking, statements, managements, disc..."
...,...,...,...,...
72807,72807,1596993,0001596993-16-000015,"[follow, discussion, financial, condition, res..."
72808,72808,1596993,0001596993-17-000010,"[follow, discussion, financial, condition, res..."
72809,72809,1596993,0001596993-18-000015,"[follow, discussion, financial, condition, res..."
72810,72810,1720635,0001720635-19-000008,"[analysis, financial, condition, result, opera..."
72811,72811,1739445,0001739445-19-000020,"[analysis, financial, condition, result, opera..."

In [18]:
# count item 7 less than 200 words
item7_preprocessed['preprocessed_item_7'].apply(lambda x: len(x) < 200).sum()

5990

In [19]:
# drop item 7 that length is less than 200
item7_preprocessed_without_short = item7_preprocessed[item7_preprocessed['preprocessed_item_7'].apply(lambda x: len(x) >= 200)].reset_index(drop=True)

In [20]:
item7_preprocessed_without_short

,file_id,CIK,ACC_NUM,preprocessed_item_7
0,1,1750,0001047469-03-028005,"[factor, may, affect, future, result, company,..."
1,3,1750,0001104659-05-033688,"[general, overview, report, activities, four, ..."
2,4,1750,0001104659-06-047248,"[forwardlooking, statements, managements, disc..."
3,5,1750,0001104659-07-055173,"[forwardlooking, statements, managements, disc..."
4,7,1750,0001047469-09-006783,"[forwardlooking, statements, managements, disc..."
...,...,...,...,...
66817,72807,1596993,0001596993-16-000015,"[follow, discussion, financial, condition, res..."
66818,72808,1596993,0001596993-17-000010,"[follow, discussion, financial, condition, res..."
66819,72809,1596993,0001596993-18-000015,"[follow, discussion, financial, condition, res..."
66820,72810,1720635,0001720635-19-000008,"[analysis, financial, condition, result, opera..."
66821,72811,1739445,0001739445-19-000020,"[analysis, financial, condition, result, opera..."

In [22]:
item7_preprocessed_without_short.to_pickle('preprocessed-item7.pkl')