In [2]:
import pandas as pd

In [3]:
# Please replace the relative path for running code.
text = pd.read_pickle('../EDGAR/Item7-Textual-Analysis/preprocessed-item7.pkl')

In [4]:
text.columns

Index(['file_id', 'CIK', 'ACC_NUM', 'preprocessed_item_7'], dtype='object')

In [5]:
# extract valid files from pre-processed files, with short text removed
valid_files_from_text = text['file_id']

In [6]:
len(valid_files_from_text)

66822

In [7]:
# Please replace the relative path for running code.
quant = pd.read_csv('../EDGAR/10k-roe-2002-2018.csv')

In [8]:
# filter by valid text file_ids
quant_with_valid_text = quant[quant['file_id'].isin(valid_files_from_text)]

In [9]:
quant_with_valid_text

,CIK,file_id,year,roe,opinc,nonopinc,FILING_DATE,ACC_NUM,CPR,FORM_TYPE,SIC,CoName
1,1750,1,2003,0.011745,0.013491,0.011883,2003-08-18,0001047469-03-028005,2003-05-31,10-K,3720,AAR CORP
3,1750,3,2005,0.095362,0.131652,-0.015174,2005-07-22,0001104659-05-033688,2005-05-31,10-K,3720,AAR CORP
4,1750,4,2006,0.127945,0.149182,-0.022282,2006-07-17,0001104659-06-047248,2006-05-31,10-K,3720,AAR CORP
5,1750,5,2007,0.139220,0.197916,-0.056823,2007-07-20,0001104659-07-055173,2007-05-31,10-K,3720,AAR CORP
7,1750,7,2009,0.063607,0.105913,-0.030043,2009-07-16,0001047469-09-006783,2009-05-31,10-K,3720,AAR CORP
...,...,...,...,...,...,...,...,...,...,...,...,...
72807,1596993,72807,2016,-0.001470,-0.001309,-0.000161,2016-05-31,0001596993-16-000015,2016-03-31,10-K,4412,DORIAN LPG LTD.
72808,1596993,72808,2017,-0.021082,-0.029803,0.000213,2017-06-14,0001596993-17-000010,2017-03-31,10-K,4412,DORIAN LPG LTD.
72809,1596993,72809,2018,-0.054427,-0.034820,0.001809,2018-06-28,0001596993-18-000015,2018-03-31,10-K,4412,DORIAN LPG LTD.
72810,1720635,72810,2018,0.071252,0.118857,-0.015065,2019-02-19,0001720635-19-000008,2018-12-31,10-K,3550,nVent Electric plc
72811,1739445,72811,2018,0.048959,0.091838,-0.011835,2019-02-28,0001739445-19-000020,2018-12-31,10-K,3523,Arcosa Inc.

In [10]:
quant_with_valid_text.dtypes

CIK              int64
file_id          int64
year             int64
roe            float64
opinc          float64
nonopinc       float64
FILING_DATE     object
ACC_NUM         object
CPR             object
FORM_TYPE       object
SIC              int64
CoName          object
dtype: object

In [11]:
# descriptive statistics, validate dataset and identify outliers
quant_with_valid_text[['roe', 'opinc', 'nonopinc']].describe()

                roe         opinc      nonopinc
count  6.682200e+04  66131.000000  66131.000000
mean           -inf     -0.847343      0.845168
std             NaN     81.254920     76.892285
min            -inf  -9793.000000   -135.500000
25%   -1.373100e-01     -0.070261     -0.057104
50%    6.597023e-02      0.109202     -0.007393
75%    1.692843e-01      0.259352      0.015422
max    1.624885e+03   1377.200000   9793.000000

In [12]:
# remove outliers, NaN
valid_quant_text= quant_with_valid_text[(quant_with_valid_text['roe'].abs() < 1) &
 (quant_with_valid_text['opinc'].abs() < 1) &
 (quant_with_valid_text['nonopinc'].abs() < 1)]

In [13]:
valid_quant_text

,CIK,file_id,year,roe,opinc,nonopinc,FILING_DATE,ACC_NUM,CPR,FORM_TYPE,SIC,CoName
1,1750,1,2003,0.011745,0.013491,0.011883,2003-08-18,0001047469-03-028005,2003-05-31,10-K,3720,AAR CORP
3,1750,3,2005,0.095362,0.131652,-0.015174,2005-07-22,0001104659-05-033688,2005-05-31,10-K,3720,AAR CORP
4,1750,4,2006,0.127945,0.149182,-0.022282,2006-07-17,0001104659-06-047248,2006-05-31,10-K,3720,AAR CORP
5,1750,5,2007,0.139220,0.197916,-0.056823,2007-07-20,0001104659-07-055173,2007-05-31,10-K,3720,AAR CORP
7,1750,7,2009,0.063607,0.105913,-0.030043,2009-07-16,0001047469-09-006783,2009-05-31,10-K,3720,AAR CORP
...,...,...,...,...,...,...,...,...,...,...,...,...
72807,1596993,72807,2016,-0.001470,-0.001309,-0.000161,2016-05-31,0001596993-16-000015,2016-03-31,10-K,4412,DORIAN LPG LTD.
72808,1596993,72808,2017,-0.021082,-0.029803,0.000213,2017-06-14,0001596993-17-000010,2017-03-31,10-K,4412,DORIAN LPG LTD.
72809,1596993,72809,2018,-0.054427,-0.034820,0.001809,2018-06-28,0001596993-18-000015,2018-03-31,10-K,4412,DORIAN LPG LTD.
72810,1720635,72810,2018,0.071252,0.118857,-0.015065,2019-02-19,0001720635-19-000008,2018-12-31,10-K,3550,nVent Electric plc
72811,1739445,72811,2018,0.048959,0.091838,-0.011835,2019-02-28,0001739445-19-000020,2018-12-31,10-K,3523,Arcosa Inc.

In [14]:
valid_quant_text.isna().sum()

CIK            0
file_id        0
year           0
roe            0
opinc          0
nonopinc       0
FILING_DATE    0
ACC_NUM        0
CPR            0
FORM_TYPE      0
SIC            0
CoName         0
dtype: int64

In [15]:
# descriptive statistics
valid_quant_text[['roe', 'opinc', 'nonopinc']].describe()

                roe         opinc      nonopinc
count  56068.000000  56068.000000  56068.000000
mean       0.020088      0.085903     -0.018378
std        0.282212      0.294419      0.098432
min       -0.999842     -0.998689     -0.981738
25%       -0.061484     -0.019526     -0.055873
50%        0.070996      0.112334     -0.010854
75%        0.154217      0.233754      0.011679
max        0.998839      0.999541      0.994565

In [16]:
# merge preprocessed text
merged_quant_item7 = valid_quant_text.merge(text[['file_id', 'preprocessed_item_7']], on='file_id')

In [17]:
merged_quant_item7

,CIK,file_id,year,roe,opinc,nonopinc,FILING_DATE,ACC_NUM,CPR,FORM_TYPE,SIC,CoName,preprocessed_item_7
0,1750,1,2003,0.011745,0.013491,0.011883,2003-08-18,0001047469-03-028005,2003-05-31,10-K,3720,AAR CORP,"[factor, may, affect, future, result, company,..."
1,1750,3,2005,0.095362,0.131652,-0.015174,2005-07-22,0001104659-05-033688,2005-05-31,10-K,3720,AAR CORP,"[general, overview, report, activities, four, ..."
2,1750,4,2006,0.127945,0.149182,-0.022282,2006-07-17,0001104659-06-047248,2006-05-31,10-K,3720,AAR CORP,"[forwardlooking, statements, managements, disc..."
3,1750,5,2007,0.139220,0.197916,-0.056823,2007-07-20,0001104659-07-055173,2007-05-31,10-K,3720,AAR CORP,"[forwardlooking, statements, managements, disc..."
4,1750,7,2009,0.063607,0.105913,-0.030043,2009-07-16,0001047469-09-006783,2009-05-31,10-K,3720,AAR CORP,"[forwardlooking, statements, managements, disc..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56063,1596993,72807,2016,-0.001470,-0.001309,-0.000161,2016-05-31,0001596993-16-000015,2016-03-31,10-K,4412,DORIAN LPG LTD.,"[follow, discussion, financial, condition, res..."
56064,1596993,72808,2017,-0.021082,-0.029803,0.000213,2017-06-14,0001596993-17-000010,2017-03-31,10-K,4412,DORIAN LPG LTD.,"[follow, discussion, financial, condition, res..."
56065,1596993,72809,2018,-0.054427,-0.034820,0.001809,2018-06-28,0001596993-18-000015,2018-03-31,10-K,4412,DORIAN LPG LTD.,"[follow, discussion, financial, condition, res..."
56066,1720635,72810,2018,0.071252,0.118857,-0.015065,2019-02-19,0001720635-19-000008,2018-12-31,10-K,3550,nVent Electric plc,"[analysis, financial, condition, result, opera..."
56067,1739445,72811,2018,0.048959,0.091838,-0.011835,2019-02-28,0001739445-19-000020,2018-12-31,10-K,3523,Arcosa Inc.,"[analysis, financial, condition, result, opera..."

In [18]:
# rename nonopinc to nopinc
merged_quant_item7 = merged_quant_item7.rename(columns={'nonopinc': 'nopinc'})

In [19]:
merged_quant_item7

,CIK,file_id,year,roe,opinc,nopinc,FILING_DATE,ACC_NUM,CPR,FORM_TYPE,SIC,CoName,preprocessed_item_7
0,1750,1,2003,0.011745,0.013491,0.011883,2003-08-18,0001047469-03-028005,2003-05-31,10-K,3720,AAR CORP,"[factor, may, affect, future, result, company,..."
1,1750,3,2005,0.095362,0.131652,-0.015174,2005-07-22,0001104659-05-033688,2005-05-31,10-K,3720,AAR CORP,"[general, overview, report, activities, four, ..."
2,1750,4,2006,0.127945,0.149182,-0.022282,2006-07-17,0001104659-06-047248,2006-05-31,10-K,3720,AAR CORP,"[forwardlooking, statements, managements, disc..."
3,1750,5,2007,0.139220,0.197916,-0.056823,2007-07-20,0001104659-07-055173,2007-05-31,10-K,3720,AAR CORP,"[forwardlooking, statements, managements, disc..."
4,1750,7,2009,0.063607,0.105913,-0.030043,2009-07-16,0001047469-09-006783,2009-05-31,10-K,3720,AAR CORP,"[forwardlooking, statements, managements, disc..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56063,1596993,72807,2016,-0.001470,-0.001309,-0.000161,2016-05-31,0001596993-16-000015,2016-03-31,10-K,4412,DORIAN LPG LTD.,"[follow, discussion, financial, condition, res..."
56064,1596993,72808,2017,-0.021082,-0.029803,0.000213,2017-06-14,0001596993-17-000010,2017-03-31,10-K,4412,DORIAN LPG LTD.,"[follow, discussion, financial, condition, res..."
56065,1596993,72809,2018,-0.054427,-0.034820,0.001809,2018-06-28,0001596993-18-000015,2018-03-31,10-K,4412,DORIAN LPG LTD.,"[follow, discussion, financial, condition, res..."
56066,1720635,72810,2018,0.071252,0.118857,-0.015065,2019-02-19,0001720635-19-000008,2018-12-31,10-K,3550,nVent Electric plc,"[analysis, financial, condition, result, opera..."
56067,1739445,72811,2018,0.048959,0.091838,-0.011835,2019-02-28,0001739445-19-000020,2018-12-31,10-K,3523,Arcosa Inc.,"[analysis, financial, condition, result, opera..."

In [20]:
merged_quant_item7.dtypes

CIK                      int64
file_id                  int64
year                     int64
roe                    float64
opinc                  float64
nopinc                 float64
FILING_DATE             object
ACC_NUM                 object
CPR                     object
FORM_TYPE               object
SIC                      int64
CoName                  object
preprocessed_item_7     object
dtype: object

In [21]:
merged_quant_item7['CIK'] = merged_quant_item7['CIK'].astype(str)
merged_quant_item7['file_id'] = merged_quant_item7['file_id'].astype(str)
merged_quant_item7['SIC'] = merged_quant_item7['SIC'].astype(str)

In [22]:
merged_quant_item7.dtypes

CIK                     object
file_id                 object
year                     int64
roe                    float64
opinc                  float64
nopinc                 float64
FILING_DATE             object
ACC_NUM                 object
CPR                     object
FORM_TYPE               object
SIC                     object
CoName                  object
preprocessed_item_7     object
dtype: object

In [23]:
merged_quant_item7.to_pickle('datasets/master-quant-preprocessed-item7.pkl')