In [1]:
import pandas as pd
from collections import defaultdict

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
df = pd.read_pickle('datasets/features-label-text-represented.pkl')

In [3]:
df.shape

(43290, 11)

In [4]:
df.head()

,CIK,file_id,year,roe,opinc,nopinc,preprocessed_item_7,token_count,roe_next_year,tone,text_vector
0,1750,3,2005,0.095362,0.131652,-0.015174,"[direct, labor, overhead, sales, structure, sy...",2120,0.127945,-0.000472,"[0.90494365, 0.074863456, -0.22782834, 0.33961..."
1,1750,4,2006,0.127945,0.149182,-0.022282,"[date, statements, reflect, occurrence, antici...",3219,0.139220,0.000000,"[0.9111878, 0.08885506, -0.31519878, 0.4127013..."
2,1750,7,2009,0.063607,0.105913,-0.030043,"[unanticipated, events, general, overview, rep...",3364,0.088296,0.000000,"[0.7394947, 0.017999234, -0.41983142, 0.052898..."
3,1750,8,2010,0.088296,0.136418,-0.040048,"[unanticipated, events, general, overview, rep...",3045,0.079613,-0.000328,"[0.9311413, 0.0732959, -0.42346224, 0.16167574..."
4,1750,9,2011,0.079613,0.138888,-0.026679,"[unanticipated, events, general, overview, rep...",2503,0.061607,-0.000799,"[0.8763539, 0.0571177, -0.4936092, 0.20794152,..."

In [5]:
dictionary_df = pd.read_csv('../LMD/LMD-distinct-words.csv')
dictionary = dictionary_df['word'].tolist()

In [6]:
def represent_by_bow(tokens, dictionary):
    word_counts = defaultdict(int)
    for token in tokens:
        if token in dictionary:
            word_counts[token] += 1

    bow_vector = [word_counts[word] for word in dictionary]
    return bow_vector

In [12]:
df_copy = df.copy()
df_copy['bow_vector'] = df_copy['preprocessed_item_7'].apply(
    lambda tokens: represent_by_bow(tokens, dictionary)
)

In [16]:
df_copy = df_copy.drop(['preprocessed_item_7', 'text_vector'], axis=1)

KeyboardInterrupt

In [18]:
df_copy = df_copy.drop('text_vector', axis=1)
df_copy

,CIK,file_id,year,roe,opinc,nopinc,token_count,roe_next_year,tone,bow_vector
0,1750,3,2005,0.095362,0.131652,-0.015174,2120,0.127945,-0.000472,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,1750,4,2006,0.127945,0.149182,-0.022282,3219,0.139220,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,1750,7,2009,0.063607,0.105913,-0.030043,3364,0.088296,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,1750,8,2010,0.088296,0.136418,-0.040048,3045,0.079613,-0.000328,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,1750,9,2011,0.079613,0.138888,-0.026679,2503,0.061607,-0.000799,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...,...
43285,1590714,72797,2016,-0.025374,0.014667,-0.016629,11060,-0.103030,-0.000090,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
43286,1590714,72798,2017,-0.103030,0.106369,-0.039584,8210,-0.128702,-0.000244,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
43287,1596993,72806,2015,0.139539,0.136995,0.004964,4796,-0.001470,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
43288,1596993,72807,2016,-0.001470,-0.001309,-0.000161,6947,-0.021082,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
43289,1596993,72808,2017,-0.021082,-0.029803,0.000213,6696,-0.054427,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [21]:
# normalise by MD&A length
df_copy['bow_normalised'] = df_copy.apply(lambda row: [x / row['token_count'] for x in row['bow_vector']], axis=1)

In [24]:
df_copy.to_pickle('datasets/features-label-bow.pkl')