In [1]:
import pandas as pd

In [3]:
df = pd.read_pickle('datasets/master-quant-preprocessed-item7.pkl')

In [4]:
df

,CIK,file_id,year,roe,opinc,nopinc,FILING_DATE,ACC_NUM,CPR,FORM_TYPE,SIC,CoName,preprocessed_item_7
0,1750,1,2003,0.011745,0.013491,0.011883,2003-08-18,0001047469-03-028005,2003-05-31,10-K,3720,AAR CORP,"[factor, may, affect, future, result, company,..."
1,1750,3,2005,0.095362,0.131652,-0.015174,2005-07-22,0001104659-05-033688,2005-05-31,10-K,3720,AAR CORP,"[general, overview, report, activities, four, ..."
2,1750,4,2006,0.127945,0.149182,-0.022282,2006-07-17,0001104659-06-047248,2006-05-31,10-K,3720,AAR CORP,"[forwardlooking, statements, managements, disc..."
3,1750,5,2007,0.139220,0.197916,-0.056823,2007-07-20,0001104659-07-055173,2007-05-31,10-K,3720,AAR CORP,"[forwardlooking, statements, managements, disc..."
4,1750,7,2009,0.063607,0.105913,-0.030043,2009-07-16,0001047469-09-006783,2009-05-31,10-K,3720,AAR CORP,"[forwardlooking, statements, managements, disc..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56063,1596993,72807,2016,-0.001470,-0.001309,-0.000161,2016-05-31,0001596993-16-000015,2016-03-31,10-K,4412,DORIAN LPG LTD.,"[follow, discussion, financial, condition, res..."
56064,1596993,72808,2017,-0.021082,-0.029803,0.000213,2017-06-14,0001596993-17-000010,2017-03-31,10-K,4412,DORIAN LPG LTD.,"[follow, discussion, financial, condition, res..."
56065,1596993,72809,2018,-0.054427,-0.034820,0.001809,2018-06-28,0001596993-18-000015,2018-03-31,10-K,4412,DORIAN LPG LTD.,"[follow, discussion, financial, condition, res..."
56066,1720635,72810,2018,0.071252,0.118857,-0.015065,2019-02-19,0001720635-19-000008,2018-12-31,10-K,3550,nVent Electric plc,"[analysis, financial, condition, result, opera..."
56067,1739445,72811,2018,0.048959,0.091838,-0.011835,2019-02-28,0001739445-19-000020,2018-12-31,10-K,3523,Arcosa Inc.,"[analysis, financial, condition, result, opera..."

In [5]:
# shift dataframe to features and labels
df_copied = df.copy()

In [6]:
def get_roe_forward(group):
    for index, row in group.iterrows():
        years = group['year'].unique()
        next_year = row['year'] + 1
        if next_year in years:
            next_roe = group.loc[group['year'] == next_year, 'roe']
            group.at[index, 'roe_next_year'] = next_roe.values[0]
        else:
            group.at[index, 'roe_next_year'] = pd.NA
    return group

In [7]:
df_copied = df_copied.groupby('CIK').apply(get_roe_forward)

In [8]:
df_copied

,CIK,file_id,year,roe,opinc,nopinc,FILING_DATE,ACC_NUM,CPR,FORM_TYPE,SIC,CoName,preprocessed_item_7,roe_next_year
0,1750,1,2003,0.011745,0.013491,0.011883,2003-08-18,0001047469-03-028005,2003-05-31,10-K,3720,AAR CORP,"[factor, may, affect, future, result, company,...",<NA>
1,1750,3,2005,0.095362,0.131652,-0.015174,2005-07-22,0001104659-05-033688,2005-05-31,10-K,3720,AAR CORP,"[general, overview, report, activities, four, ...",0.127945
2,1750,4,2006,0.127945,0.149182,-0.022282,2006-07-17,0001104659-06-047248,2006-05-31,10-K,3720,AAR CORP,"[forwardlooking, statements, managements, disc...",0.13922
3,1750,5,2007,0.139220,0.197916,-0.056823,2007-07-20,0001104659-07-055173,2007-05-31,10-K,3720,AAR CORP,"[forwardlooking, statements, managements, disc...",<NA>
4,1750,7,2009,0.063607,0.105913,-0.030043,2009-07-16,0001047469-09-006783,2009-05-31,10-K,3720,AAR CORP,"[forwardlooking, statements, managements, disc...",0.088296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56063,1596993,72807,2016,-0.001470,-0.001309,-0.000161,2016-05-31,0001596993-16-000015,2016-03-31,10-K,4412,DORIAN LPG LTD.,"[follow, discussion, financial, condition, res...",-0.021082
56064,1596993,72808,2017,-0.021082,-0.029803,0.000213,2017-06-14,0001596993-17-000010,2017-03-31,10-K,4412,DORIAN LPG LTD.,"[follow, discussion, financial, condition, res...",-0.054427
56065,1596993,72809,2018,-0.054427,-0.034820,0.001809,2018-06-28,0001596993-18-000015,2018-03-31,10-K,4412,DORIAN LPG LTD.,"[follow, discussion, financial, condition, res...",<NA>
56066,1720635,72810,2018,0.071252,0.118857,-0.015065,2019-02-19,0001720635-19-000008,2018-12-31,10-K,3550,nVent Electric plc,"[analysis, financial, condition, result, opera...",<NA>
56067,1739445,72811,2018,0.048959,0.091838,-0.011835,2019-02-28,0001739445-19-000020,2018-12-31,10-K,3523,Arcosa Inc.,"[analysis, financial, condition, result, opera...",<NA>

In [9]:
# remove rows with NaN in roe_next_year
# select columns
df_selected = df_copied[['CIK', 'file_id', 'year', 'roe', 'opinc', 'nopinc', 'preprocessed_item_7', 'roe_next_year']].dropna(subset=['roe_next_year'])

In [10]:
df_selected

,CIK,file_id,year,roe,opinc,nopinc,preprocessed_item_7,roe_next_year
1,1750,3,2005,0.095362,0.131652,-0.015174,"[general, overview, report, activities, four, ...",0.127945
2,1750,4,2006,0.127945,0.149182,-0.022282,"[forwardlooking, statements, managements, disc...",0.13922
4,1750,7,2009,0.063607,0.105913,-0.030043,"[forwardlooking, statements, managements, disc...",0.088296
5,1750,8,2010,0.088296,0.136418,-0.040048,"[forwardlooking, statements, managements, disc...",0.079613
6,1750,9,2011,0.079613,0.138888,-0.026679,"[forwardlooking, statements, managements, disc...",0.061607
...,...,...,...,...,...,...,...,...
56057,1590714,72797,2016,-0.025374,0.014667,-0.016629,"[discussion, financial, condition, result, ope...",-0.10303
56058,1590714,72798,2017,-0.103030,0.106369,-0.039584,"[analysis, financial, condition, result, opera...",-0.128702
56062,1596993,72806,2015,0.139539,0.136995,0.004964,"[read, follow, discussion, financial, conditio...",-0.00147
56063,1596993,72807,2016,-0.001470,-0.001309,-0.000161,"[follow, discussion, financial, condition, res...",-0.021082
56064,1596993,72808,2017,-0.021082,-0.029803,0.000213,"[follow, discussion, financial, condition, res...",-0.054427

In [11]:
# add a new column with text length
df_selected['token_count'] = df_selected['preprocessed_item_7'].apply(lambda x:len(x))

In [12]:
df_selected

,CIK,file_id,year,roe,opinc,nopinc,preprocessed_item_7,roe_next_year,token_count
1,1750,3,2005,0.095362,0.131652,-0.015174,"[general, overview, report, activities, four, ...",0.127945,2320
2,1750,4,2006,0.127945,0.149182,-0.022282,"[forwardlooking, statements, managements, disc...",0.13922,3419
4,1750,7,2009,0.063607,0.105913,-0.030043,"[forwardlooking, statements, managements, disc...",0.088296,3564
5,1750,8,2010,0.088296,0.136418,-0.040048,"[forwardlooking, statements, managements, disc...",0.079613,3245
6,1750,9,2011,0.079613,0.138888,-0.026679,"[forwardlooking, statements, managements, disc...",0.061607,2703
...,...,...,...,...,...,...,...,...,...
56057,1590714,72797,2016,-0.025374,0.014667,-0.016629,"[discussion, financial, condition, result, ope...",-0.10303,11260
56058,1590714,72798,2017,-0.103030,0.106369,-0.039584,"[analysis, financial, condition, result, opera...",-0.128702,8410
56062,1596993,72806,2015,0.139539,0.136995,0.004964,"[read, follow, discussion, financial, conditio...",-0.00147,4996
56063,1596993,72807,2016,-0.001470,-0.001309,-0.000161,"[follow, discussion, financial, condition, res...",-0.021082,7147
56064,1596993,72808,2017,-0.021082,-0.029803,0.000213,"[follow, discussion, financial, condition, res...",-0.054427,6896

In [13]:
# do not have to standardise, because those numbers are already scaled ones.
# convert roe_next_year as float
df_selected['roe_next_year'] = df_selected['roe_next_year'].astype(float)
df_selected.dtypes

CIK                     object
file_id                 object
year                     int64
roe                    float64
opinc                  float64
nopinc                 float64
preprocessed_item_7     object
roe_next_year          float64
token_count              int64
dtype: object

In [14]:
# put the label column at last
df_selected = df_selected[['CIK', 'file_id', 'year', 'roe', 'opinc', 'nopinc', 'preprocessed_item_7', 'token_count', 'roe_next_year']]

In [15]:
# save the features and label
df_selected.to_pickle('features-label.pkl')

In [2]:
# remove companies which the number of records less than 2
features_label = pd.read_pickle('features-label.pkl')

In [11]:
features_label_without_single_company = features_label.groupby('CIK').filter(lambda x: len(x) >= 2).reset_index(drop=True)

In [13]:
features_label_without_single_company.shape

(43290, 9)

In [14]:
features_label_without_single_company.to_pickle('datasets/features-label.pkl')